
  
  .flipCardInner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .flipCardInner:hover {
    transform: rotateY(180deg);
  }
  
  .flipCardFront, .flipCardBack {
    flex-direction: column;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
   
  .flipCardBack {
    position: absolute;
    z-index: 4;
    transform: rotateY(180deg);
  }