
  
  .flipCardInner {
    /* position: absolute; */
    transition: transform .6s .7s;
    transform-style: preserve-3d;
    perspective: 1000px;
    /* transition-delay: .7s; */
  }


  /* .flipCardInner:hover {
    transform: rotateY(180deg);
  } */

  .flipCardFront, .flipCardBack {
    flex-direction: column;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
   
  .flipCardBack {
    position: absolute;
    z-index: 4;
    transform: rotateY(180deg);
  }

