*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    /* width: 100vw;
    height: 100vh;


        background: url('/img/game/game_background_2/game_background_2.png') center center fixed;
        background-size: cover; */


    /* background: url('/img/game/game_background_2/game_background_2.png'); */
    /* animation: scrollLeft 7s linear infinite;
    object-fit: cover;
    background-size: auto;
    background-position: bottom; */
}

/* .gameCanva{
    width: 142vh;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: calc(142vh/2);
    background-color: lawngreen;
    z-index:5;
} */

.area {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/img/game/game_background_2/layers/sky.png') center center fixed;
    object-fit: cover;
    /* animation: play 2s steps(30) infinite; */
    animation: scrollLeft 2s linear infinite;
    /* animation: scrollGood 2s linear infinite; */
}


.rocks_3{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: url('/img/game/game_background_2/layers/rocks_3.png' )center center fixed;
    object-fit: cover;

    /* animation: play 2s steps(30) infinite; */
    animation: scrollLeft 13s linear infinite;
    /* animation: scrollGood 2s linear infinite; */
}

.rocks_2{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: url('/img/game/game_background_2/layers/rocks_2.png') center center fixed;
    object-fit: cover;
    /* animation: play 2s steps(30) infinite; */
    animation: scrollLeft 10s linear infinite;
    /* animation: scrollGood 2s linear infinite; */
}

#rock1{
    display: block;
    position: absolute;
    top:-200px;
    left:0;
    object-position: bottom;
    display: none;
}

.rocks_1{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: url('/img/game/game_background_2/layers/rocks_1.png');
    background-position: bottom;
    object-fit: cover;
    /* animation: play 2s steps(30) infinite; */
    animation: scrollLeft 3s linear infinite;
    /* animation: scrollGood 2s linear infinite; */
}

.pines{
    /* display: block; */
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: url('/img/game/game_background_2/layers/pines.png') center center fixed;
    object-fit: cover;

    /* animation: play 2s steps(30) infinite; */
    animation: scrollLeft 6s linear infinite;
    /* animation: scrollGood 2s linear infinite; */
}
.clouds_3{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: url('/img/game/game_background_2/layers/clouds_3.png') center center fixed;
    object-fit: cover;
    /* animation: play 2s steps(30) infinite; */
    animation: scrollRight 20s linear infinite;
    /* animation: scrollGood 2s linear infinite; */
}

.clouds_2{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: url('/img/game/game_background_2/layers/clouds_2.png') center center fixed;
    object-fit: cover;
    /* animation: play 2s steps(30) infinite; */
    animation: scrollRight 58s linear infinite;
    /* animation: scrollGood 2s linear infinite; */
}

.clouds_1{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: url('/img/game/game_background_2/layers/clouds_1.png') center center fixed;
    object-fit: cover;
    /* animation: play 2s steps(30) infinite; */
    animation: scrollRight 39s linear infinite;
    /* animation: scrollGood 2s linear infinite; */
}

.birds{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: url('/img/game/game_background_2/layers//birds.png') center center fixed;
    object-fit: cover;
    /* animation: play 2s steps(30) infinite; */
    animation: scrollRight 60s linear infinite;
    /* animation: scrollGood 2s linear infinite; */
}


.zombieImg {
position: absolute;
    display: block;
    width: 100%;
    height: auto;


}

.car{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 768px;
    height: 432px;
    object-fit: cover;
    transform: scale(-0.2, 0.2);
    /* animation: play 2s steps(30) infinite; */
    /* animation: scrollRight 10s linear infinite; */
    /* animation: scrollGood 2s linear infinite; */
}
.zombie {
    z-index: 2;
    position: absolute;
    /* transform: scaleX(-1); */
    transform: scale(-0.6, 0.6);

    /* transform-origin: left center; */
    animation: slide-left 3s forwards;
    /* animation: scrollGood 5s linear infinite; */

}

@keyframes slide-left {
    0% {
        left: 150%;
        opacity: 0;
        /* transform: scaleY(0); */

    }

    100% {
        left: 0%;
        opacity: 1;
        /* transform: scaleY(1); */
    }
}

@keyframes play {
    100% {
        background-position: -1900px;
    }
}

@keyframes scrollLeft {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -1900px;
    }
}


@keyframes scrollRight {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 1900px;
    }
}


@keyframes scrollLeftZombie {
    0% {
        left: 100vw;
    }

    100% {
        left: -1900px;
    }
}

.monster {
    position: absolute;
    z-index: 5;
    width: 881px;
    height: 639px;
    background-image: url("/img/game/sprite_sheet/__jet_pack_man_with_weapon_standing_run.png");
    animation: playX 1s steps(5) infinite,
               playY 3s steps(3) infinite;
    transform: scale(0.5)
  }
  @keyframes playX {
    from {background-position-x: 0px;}
    to {background-position-x: -4405px;}
  }
  @keyframes playY {
    from {background-position-y: 0px;}
    to {background-position-y: -1917px;}
  }


/* .monster {
    position: absolute;
    top:50px;
    left:500px;
    height: 100vh;
    transform: scale(0.6);
    background: url('/img/game/sprite_sheet/__jet_pack_man_no_weapon_white_helmet_flying_die.png') left center;
  }

  @keyframes play {
    100% { background-position: -1900px; }
 } */
  /* .monster {
    ...
    animation: play 0.8s;
  }

  .monster {
    ...
    animation: play 0.8s steps(10);
  } */

  /* .monster {
    animation: play 5s steps(10) infinite;
  } */

  .score {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
      color: rgba(227, 188, 190);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      font-weight: bolder;
  }