.gameEnd {
  /* border: solid 2px; */
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 675px;
  background: url("/img/236.jpg");
  background-attachment: inherit;
  background-size: cover;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
  padding: 50px 0 10px 10px;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  z-index: 19;

  display: none;
}


.gameEnd p,
.gameWon p {
  font-size: 20px;
}

.gameOver,
.gameWon {
  display: none;
  flex-direction: column;
}


.currentScore {
  color: teal;
  font-size: 30px;
}

.highScore {
  color: teal;
  font-size: 30px;
}

.buttonsEndGame {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.buttonsEndGame a {
  text-decoration: none;
}

#backToGame {
  margin-top: 20px;
  font-size: 20px;
  padding: 0px;

  /* width: 200px; */
}

#backToSite {
  margin-top: 30px;
  font-size: 20px;
  padding: 0px;

}

/* .audio{
    position: absolute;
    top: 750px;
    left: 23vw;
    z-index: 20;
  } */
