* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(227, 188, 190);
  box-shadow: none !important;
  overflow: hidden;
}
.game {
  display: none;
}
.start {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(104, 94, 94);
  border: black 1px solid;
  width: 1000px;
  height: 700px;
  margin-top: -350px;
  margin-left: -500px;
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
  padding: 5vh;
  text-align: justify;
}

.buttonStart {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#startGame, #backToGame, #backToSite {
  width: 300px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin: 5px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}


.frame {
  display: block;
  position: absolute;
  top: -15px;
  left: -105px;
  width: 1920px;
  height: 900px;
  background: url("/img/game/border_gray_1920.png");
  /* background-position-x: -15px;
  background-position-y: -15px; */
  /* background-attachment: inherit; */
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* background-size: cover ; */
  z-index: 9;
  transform: scaleY(0.97);
}

.gameContainer {
  width: 1200px;
  height: 675px;
  position: absolute;
  top: 100px !important;
  left: 15vw;
  border: 1px solid;
  transform: scale(1);
}





.gameEnd {
  border: solid 2px;
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 675px;
  background: url("/img/236.jpg");
  background-attachment: inherit;
  background-size: cover;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
  padding: 50px 0 10px 10px;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  z-index: 19;

  display: none;
}

.gameEnd p {
  font-size: 20px;
}

.currentScore{
  color: teal;
  font-size: 30px;
}

.highScore{
  color: teal;
  font-size: 30px;
}

.buttonsEndGame{
display: flex;
flex-direction: column;
}

#backToGame{
  margin-top: 20px;
}

#backToSite{
margin-top: 40px;
}

.gameWon{
  display: none;
}

/* .audio{
  position: absolute;
  top: 750px;
  left: 23vw;
  z-index: 20;
} */
