* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(227, 188, 190);
  box-shadow: none !important;
}

.frame{
  display: block;
  position: absolute;
  top: -105px;
  left: -185px;
  width: 1550px;
  height: 900px;
  background: url('/img/game/border_gray2.png');
  background-position-x: -15px;
  background-position-y: -15px;
  /* background-attachment: inherit; */
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* background-position: inherit; */
  z-index: 9;
  transform: scaleY(0.95);
  box-shadow: none !important;
}

.gameContainer {
  width: 1200px;
  height: 675px;
  position: absolute;
  top: 100px !important;
  left: 18vw;
  border: 1px solid;
  transform: scale(1);
}

/* .audio{
  position: absolute;
  top: 750px;
  left: 23vw;
  z-index: 20;
} */