.zombieContainer {
  /*display:none;*/
  position: absolute;
  top: 450px;
  left: 500px;
  width: 100.6px;
  height: 176.1px;
  /* background-color: lawngreen; */
  z-index: 4;
  animation: scrollLeftZombie 6s linear infinite;
}

@keyframes scrollLeftZombie {
  0% {
    left: 1600px;
  }
  100% {
    left: -300px;
  }
}

.deadZombieContainer {
  display: none;
  position: absolute;
  top: 440px;
  left: 500px;
  width: 135.6px;
  height: 176.1px;

  z-index: 8;
  /*animation: scrollLeftZombie 7s linear infinite;*/
}
.zombieRun {
  position: absolute;
  top: -200px;
  left: -160px;
  z-index: 3;
  width: 452px;
  height: 587px;
  background-image: url("/img/game/sprite_sheet/Christmas_zombie/Zombie_Run.png");
  animation: playXzombie 0.2s steps(4) infinite,
    playYzombie 1s steps(5) infinite;
  transform: scale(-0.3, 0.3);
}
@keyframes playXzombie {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1808px;
  }
}
@keyframes playYzombie {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -2935px;
  }
}
/* .zombieDie {
  position: absolute;
  top: -200px;
  left: -160px;
  z-index: 3;
  width: 730px;
  height: 629px;
  background-image: url("/img/game/sprite_sheet/Christmas_zombie/Die.png");
  animation: playXzombieDie 0.2s steps(4) 1, playYzombieDie 1s steps(5) 1;
  transform: scale(-0.3, 0.3);
}
@keyframes playXzombieDie {
  from {
    background-position-x: 2920px;
  }
  to {
    background-position-x: 0px;
  }
}
@keyframes playYzombieDie {
  from {
    background-position-y: 3145px;
  }
  to {
    background-position-y: 0px;
  }
} */

.zombieDie {
  position: absolute;
  top: -200px;
  left: -160px;
  z-index: 3;
  width: 730px;
  height: 629px;
  background-image: url("/img/game/sprite_sheet/Christmas_zombie/Die.png");
  animation: playXzombieDie 0.2s steps(4) forwards,
    playYzombieDie 1s steps(5) forwards;
  transform: scale(-0.3, 0.3);
}
@keyframes playXzombieDie {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -2920px;
  }
}
@keyframes playYzombieDie {
  from {
    background-position-y:  0px;
  }
  to {
    background-position-y: -3145px;
  }
}
